<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

{#            <img src="{{ asset( 'build/images/' ~ article.img) }}" class="img-fluid"/>#}
        <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.description }}</p>
        <a href="{{ path ('app_article_edit', {'id': article.id}) }}" class="btn btn-primary">Button</a>
    </div>
</div>