$main-font: 'KoHo';

:root {
    --main-color: #303030;
    --main-color-grey: #b3b3b3;
    --danger-color: #EB5F5F;
    --danger-color-dark: #ad3535;
    --gold-color: #B49852;
    --silver-color: #A5A5A5;
    --bronze-color: #B48152;
    --text-color: #2a2a2a;
}
